@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,500&display=swap');

/* Typical Device Breakpoints

Pequenas telas: vão até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/
/* Configurações padrão */


/* Estilização: cabeçalho */
header{
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 40px;
  border-bottom: 0.4px solid black;
}
nav{
  display: flex;
  flex-direction: column;
}
header ul{
  display: flex;
  list-style-type: none;
  font-size: 1.4em;
}
li{padding: 5px;}
header a:hover{
  background-color: var(--cor2);
  color: white;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.5s;
}




footer{
    padding: 20px;
    background-color: #38485B;
    color: white;
    text-align: center;
  }
  footer p:nth-child(2){
    font-size: 0.8em;
    padding: 5px;
  }